.welcome-content { 
    background-color: #272125;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    height: 400px;
    align-items: center;
}

.title {
    color: white;
    line-height: 52px;
    font-size: 50px;
    font-family: Antwerp!important;
    text-align: center;
    justify-content: center;
}