<div class="signup-content">
	<form [formGroup]="signupForm">
		<h2>
			<span class="entypo-login">
				<i class="fa fa-sign-in"></i>
			</span>
			Cadastrar
		</h2>
		<span class="entypo-user inputNomeIcon" [ngClass]="signupForm.controls.name.valid ? 'valid' : 'invalid'">
			<i class="fa fa-user"></i>
		</span>
		<input type="text"
			class="user" [ngClass]="signupForm.controls.name.valid ? 'valid' : 'invalid'"
			placeholder="nome" formControlName="name">
		<span class="entypo-user icon" [ngClass]="signupForm.controls.email.valid ? 'valid' : 'invalid'">
			<i class="fa fa-user"></i>
		</span>
		<input type="text"
			class="user" [ngClass]="signupForm.controls.email.valid ? 'valid' : 'invalid'"
			placeholder="email" formControlName="email">
		<span class="entypo-key icon" [ngClass]="signupForm.controls.password.valid ? 'valid' : 'invalid'">
			<i class="fa fa-key"></i>
		</span>
		<input type="password"
			class="pass" [ngClass]="signupForm.controls.password.valid ? 'valid' : 'invalid'"
			placeholder="senha" formControlName="password">

            <div class="row d-flex justify-content-center">
                <button class="submit" (click)="onSubmit()" [ngClass]="signupForm.valid ? 'valid' : 'invalid'">
                    <h2 style="color: white;">Cadastrar</h2>
                </button>
            </div>
	</form>
</div>
